{% extends 'base.html.twig' %}

{% block title %}Measurement{% endblock %}

{% block body %}
    <h1>Measurement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ measurement.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ measurement.date ? measurement.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Celsius</th>
                <td>{{ measurement.celsius }}</td>
            </tr>
            <tr>
                <th>Clouds</th>
                <td>{{ measurement.clouds }}</td>
            </tr>
            <tr>
                <th>Humidity</th>
                <td>{{ measurement.humidity }}</td>
            </tr>
            <tr>
                <th>Rain</th>
                <td>{{ measurement.rain }}</td>
            </tr>
            <tr>
                <th>Air</th>
                <td>{{ measurement.air }}</td>
            </tr>
            <tr>
                <th>Smog</th>
                <td>{{ measurement.smog }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_measurement_index') }}">back to list</a>

    {% if is_granted('ROLE_MEASUREMENT_EDIT') %}
        <a href="{{ path('app_measurement_edit', {'id': measurement.id}) }}">edit</a>
    {% endif %}

    {{ include('measurement/_delete_form.html.twig') }}
{% endblock %}
